#contact{
    background-color: var(--theme-ligth-bg);
    display: flex;
    flex-direction: column;
}
#contact > h3{
    font-size: 1em;
    margin: 2em;
    margin-bottom: 0;
}
.container_contacts{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 2em;
    font-size: 1.5em;
}
.container_contacts > a:hover{
    text-decoration: underline
}