#modal{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #0000008a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_exit{
    font-size: 2em;
    position: absolute;
    color: red;
    top: 10px;
    left: 10px;
}